@media screen and (min-width: 428px) and (max-width: 767px) {
	.container {
  width: 428px;
	}
	 .input_email{
	min-width: 398px;
	 }
}

@media screen and (min-width: 768px) {
	
.nav_logo{
  display: flex;
  }
  .addr {
	display:block;
	}
  .open-menu-btn {
    display: none;
  }
  
.customers_link{
	width: 168px;
}
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.privilages-item > .featu_h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.featu_t > .privilages-item {
  font-weight: 500;
}

.team_list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  gap: 64px var(--main-gap, 24px);
}

.cont_inline {
  max-width: 264px;
}

.conteiner_input {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--main-gap, 24px);
}

.input_email {
  min-width: 264px;
}

.footer-form-title {
  margin-bottom: 16px;
}
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .header > .container {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .container {
    width: 768px;
  }
  .head {
    height: 72px;
  }
  .head_list {
    gap: 12px;
    display: flex;
  }

.order {
  height: 436px;
  max-width: 768px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img_2x/tablet_bg_2x.jpg);
}
.order_t {
  margin-bottom: 36px;
  font-size: 56px;
  line-height: 1.07;
}
.order_conteiner {
  width: 528px;
  text-align: center;
  margin: 0 auto;
  padding: 0 16px;
}

.head_list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.nav-link {
  position: relative;
  height: 100%;
  font-weight: 500;
  color: #2e2f42;
}

.active-page {
  color: #404bbf;
}


  .addr_a {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .privilages-list{
	  flex-direction: row;
	   flex-wrap: wrap;
       gap:72px 24px;
	   }
  
  
  .privilages-item{
  width:356px;
  }
  .costomers_list {
	  gap: 72px 24px;
  }
  .footer_cont {
  padding: 0 108px;
  gap: 72px 24px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

}

@media screen and (min-width: 1158px) {
	.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.icon-box {
  display: flex;
  }

.doing {
	display:block;
	  padding-bottom: 120px;
	}

.modal {
 width: 408px;
 }
 
 .features,.team,.Customers{
	  padding: 120px 0px; 
 }


	
 .order {
	 padding-top: 188px;
  padding-bottom: 188px;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
   rgba(46, 47, 66, 0.7)),
    url(../images/people-office_1.jpg);}
	
	
  .order_t {
  font-size: 56px;
  line-height: 1.07;
  }
  
  .privilages-list {
    flex-direction: row;
   gap: 24px;
  }
  
  
  
  .featu_h {
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  }
  
  
  .team_list {
  gap: 24px;
  }
  
  
  .costomers_list {
  gap: 24px;
flex-wrap: nowrap;
justify-content: start;
  }
  
  .footer_cont {
	  display: flex;
    flex-direction: row;
  }
  
  .cont_inline,
  .footer-form,
  .footer_media {
    margin: 0;
    display: block;
  }
  
  
  .conteiner_input {
    flex-direction: row;
    align-items: left;
  }
  
  .footer-email-input {
  margin-right: 24px;
  }
  .input_email {
  min-width: 264px;
  
  }
  
  .cont_inline {
  margin-right: 120px;
}

.footer_media {
  margin-right: 80px;
}



}
